{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row-fluid">
    <div class="col-12 p-4">
        <a class="btn btn-sm btn-light" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/back.png') }}"> Назад
        </a>
    </div>
</div>
<div class="row m-4">
    <div class="col-6">
        {{ wtf.quick_form(form, form_type="inline") }}
    </div>
    <div class="col-6 text-right">
        <h3> Паркомат {{ host }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-11">
        <table class="table table-sm table-hover border border-dark">
            <thead class="thead-dark">
                <th>Отправлено</th>
                <th>Снято</th>
                <th>ПО</th>
                <th>Аптайм</th>
                <th>Интернет</th>
                <th>VPN</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>HDD</th>
                <th>Монетник</th>
                <th>Купюрник</th>
                <th>NFC</th>
                <th>Принтер</th>
                <th>Журнал</th>
                <th></th>
            </thead>
            <tbody>
            {% set ns = namespace(reboots = 0, uptime = 0) %}
            {% for i in health %}
                <tr>
                    <td>{{ i.received }}</td>
                    <td>{{ i.probed }}</td>

                    {% if i.api == 'ok' %}
                        <td class="bg-success">ok</td>
                    {% elif i.api == 'down' %}
                        <td class="bg-danger">down</td>
                    {% elif 'Offline time' in i.api %}
                        <td class="bg-secondary">sleep</td>
                    {% else %}
                        <td class="bg-warning" title="{{ i.api }}">error</td>
                    {% endif %}

                    {% if ns.uptime < i.uptime %}
                        <td>{{ i.uptime }}</td>
                    {% else %}
                        <td class="bg-primary">{{ i.uptime }}</td>
                        {% set ns.reboots = ns.reboots + 1 %}
                    {% endif %}
                    {% set ns.uptime = i.uptime %}

                    {% if i.internet == 0 %}
                        <td class="bg-success">{{ i.internet }}</td>
                    {% elif i.internet == 100 %}
                        <td class="bg-danger">{{ i.internet }}</td>
                    {% else %}
                        <td class="bg-warning">{{ i.internet }}</td>
                    {% endif %}

                    {% if i.vpn == 0 %}
                        <td class="bg-success">{{ i.vpn }}</td>
                    {% elif i.vpn == 100 %}
                        <td class="bg-danger">{{ i.vpn }}</td>
                    {% else %}
                        <td class="bg-warning">{{ i.vpn }}</td>
                    {% endif %}

{# Если "отпал" жесткий диск - все значения будут False. #}
                    <td>{{ i.cpu }}</td>
                    {% if i.ram %} <td>{{ i.ram }}</td> {% else %} <td class="bg-warning"> - </td> {% endif %}
                    {% if i.hdd %} <td>{{ i.hdd }}</td> {% else %} <td class="bg-warning"> - </td> {% endif %}

{# Монетник, купюрник, НФЦ, принтер - булевые значения #}

                    {% if i.coin %}      <td class="bg-success">c</td> {% else %} <td class="bg-danger">c</td> {% endif %}
                    {% if i.validator %} <td class="bg-success">v</td> {% else %} <td class="bg-danger">v</td> {% endif %}
                    {% if i.nfc %}       <td class="bg-success">n</td> {% else %} <td class="bg-danger">n</td> {% endif %}
                    {% if i.printer %}   <td class="bg-success">p</td> {% else %} <td class="bg-danger">p</td> {% endif %}

{# Журнал скрыт по умолчанию #}

                    <td>
                        {% if i.log|length > 0 %}
                            <p title="{{ i.log }}">log</p>
                        {% endif %}
                    </td>
                    <td class="d-none">{{ i.log }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1">
        <table class="table table-sm border border-dark">
            <tbody>
            <tr>
                <td>Количество перезагрузок</td><td>{{ ns.reboots }}</td>
                <td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}