{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row-fluid">
    <div class="col-12 p-4">
        <a class="btn btn-sm btn-light" href="{{ url_for('catalog.index') }}">
            <img src="{{ url_for('static', filename='img/back.png') }}"> Назад
        </a>
    </div>
</div>

<div class="row m-4">
    <div class="col-6">
        {{ wtf.quick_form(form, form_type="inline") }}
    </div>
    <div class="col-6 text-right">
        <h3> Паркомат {{ current.host }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-6 border">
        <div class="row">
            <div class="col-12 text-center"><h3>Последние показатели</h3></div>
        </div>

        {% if current is not none %}
        <div class="row">
            <div class="col-3">Снято</div><div class="col-3">{{ current.probed }}</div>
            <div class="col-3">Аптайм</div><div class="col-3">{{ current.pretty_uptime() }}</div>
        </div>
        <div class="row">
            <div class="col-3">Отправлено</div><div class="col-3">{{ current.received }}</div>
        </div>
        <h4 class="p-2">Периферия USB</h4>
        <div class="row">
            {% if current.coin %} {% set bgcoin = '' %} {% elif parkomat.coin %} {% set bgcoin = 'bg-danger' %} {% endif %}
            <div class="col-3 text-center p-2 {{ bgcoin }}">
                <img src="{{ url_for('static', filename='img/coin.png') }}"><br>
                Монетоприемник <br>
                {% if current.coin %} OK {% elif parkomat.coin %} Ошибка {% else %} Не установлен {% endif %}
            </div>

            {% if current.validator %} {% set bgval = '' %} {% elif parkomat.validator %} {% set bgval = 'bg-danger' %} {% endif %}
            <div class="col-3 text-center p-2 {{ bgval }}">
                <img src="{{ url_for('static', filename='img/validator.png') }}"><br>
                Купюроприемник <br>
                {% if current.validator %} OK {% elif parkomat.validator %} Ошибка {% else %} Не установлен {% endif %}
            </div>

            {% if current.nfc %} {% set bgnfc = '' %} {% elif parkomat.nfc %} {% set bgnfc = 'bg-danger' %} {% endif %}
            <div class="col-3 text-center p-2 {{ bgnfc }}">
                <img src="{{ url_for('static', filename='img/nfc.png') }}"><br>
                NFC <br>
                {% if current.nfc %} OK {% elif parkomat.nfc %} Ошибка {% else %} Не установлен {% endif %}
            </div>

            {% if current.printer %} {% set bgprn = '' %} {% else %} {% set bgprn = 'bg-danger' %} {% endif %}
            <div class="col-3 text-center p-2 {{ bgprn }}">
                <img src="{{ url_for('static', filename='img/printer.png') }}"><br>
                Принтер <br>
                {% if current.printer %} OK {% else %} Ошибка {% endif %}
            </div>
        </div>

        <h4 class="p-2">Система</h4>
        <div class="row">
            {% if current.hdd > 99 %} {% set bghdd = 'bg-warning' %} {% endif %}
            <div class="col-3 text-center p-2 {{ bghdd }}">
                <img src="{{ url_for('static', filename='img/hdd.png') }}"><br>
                Накопитель <br>
                Использовано {{ current.hdd }} %
            </div>
            <div class="col-3 text-center p-2 ">
                <img src="{{ url_for('static', filename='img/cpu.png') }}"><br>
                Процессор <br>
                Использовано {{ current.cpu }} %
            </div>
            <div class="col-3 text-center p-2 ">
                <img src="{{ url_for('static', filename='img/ram.png') }}"><br>
                Память <br>
                Использовано {{ current.ram }} %
            </div>

            {% if current.api == 'ok' %} {% set bgapi = '' %}
            {% elif current.api == 'down' %} {% set bgapi = 'bg-danger' %}
            {% elif 'Offline time' in current.api %} {% set bgapi = 'bg-secondary' %}
            {% else %} {% set bgapi = 'bg-warning' %} {% endif %}
            <div class="col-3 text-center p-2 {{ bgapi }}">
                <img src="{{ url_for('static', filename='img/api.png') }}"><br>
                API <br>
                {{ current.api }}
            </div>
        </div>
        {% else %}
            <h2>С этого паркомата еще не поступало информации</h2>
        {% endif %}
    </div>

    <div class="col-6 text-center border">
        {% if count > 0 %}
            <h3>Статистика USB за сутки</h3>
            <img src="{{ url_for('health.draw', host=host, year=year, month=month, day=day, param='usb') }}">
        {% else %}
            <h2>Статистика за этот день отсутствует</h2>
        {% endif%}
    </div>
</div>

{% if count > 0 %}
<div class="row">
    <div class="col-4">
        <img src="{{ url_for('health.draw', host=host, year=year, month=month, day=day, param='internet') }}">
    </div>
    <div class="col-4">
        <img src="{{ url_for('health.draw', host=host, year=year, month=month, day=day, param='vpn') }}">
    </div>
    <div class="col-4">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Количество "отпаданий" USB</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Монетоприемник</td><td>{{ counters['coin'] }}</td></tr>
                <tr><td>Купюроприемник</td><td>{{ counters['validator'] }}</td></tr>
                <tr><td>NFC</td><td>{{ counters['nfc'] }}</td></tr>
                <tr><td>Принтер</td><td>{{ counters['printer'] }}</td></tr>
                <tr><td>Перезагрузки ОС</td><td>{{ counters['reboot'] }}</td></tr>
                </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="{{ url_for('health.draw', host=host, year=year, month=month, day=day, param='cpu') }}">
    </div>
    <div class="col-4">
        <img src="{{ url_for('health.draw', host=host, year=year, month=month, day=day, param='ram') }}">
    </div>
    <div class="col-4">
        <img src="{{ url_for('health.draw', host=host, year=year, month=month, day=day, param='hdd') }}">
    </div>
</div>
{% endif %}
{% endblock %}