{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row-fluid">
    <div class="col-12 p-4">
        <a class="btn btn-sm btn-light" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/back.png') }}"> Назад
        </a>
    </div>
</div>

<div class="row-fluid">
    <div class="col-12 p-4">
        <form action="" method="post" class="needs-validation">
            {{ form.hidden_tag() }}
            <div class="form-group row border pt-4 pb-4">
                {{ form.clear_db.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.clear_db(class="form-control form-control-sm") }}</div>
                <div class="col-1"> через </div>
                <div class="col-1">{{ form.clear_db_days(class="form-control form-control-sm") }}</div>
                {{ form.clear_db_days.label(class="form-control-label col-form-label-sm col-4") }}
            </div>

            <div class="form-group row border pt-4 pb-4">
                {{ form.morning_report.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.morning_report(class="form-control form-control-sm") }}</div>
            </div>

            <div class="form-group row border pt-4 pb-4">
                {{ form.evening_report.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.evening_report(class="form-control form-control-sm") }}</div>
            </div>

            <div class="form-group row border pt-4 pb-4">
                {{ form.check_cert.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.check_cert(class="form-control form-control-sm") }}</div>
            </div>

            <div class="form-group row border pt-4 pb-4">
                {{ form.alarm_offline.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.alarm_offline(class="form-control form-control-sm") }}</div>
            </div>

            <div class="form-group row border pt-4 pb-4">
                {{ form.alarm_hdd.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.alarm_hdd(class="form-control form-control-sm") }}</div>
            </div>

            <div class="form-group row border pt-4 pb-4">
                {{ form.alarm_usb.label(class="form-control-label col-form-label-sm col-4") }}
                <div class="col-1">{{ form.alarm_usb(class="form-control form-control-sm") }}</div>
            </div>

            <div class="form-group row">
                <div class="col-12 text-center p-1">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}